@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ul style="text-align: left">
        <li><strong>Connection string</strong>: @ViewBag.ConnectionString</li>
        <li><strong>Blob connection string</strong>: @ViewBag.BlobConnectionString</li>
        <li><strong>Jwt Sign Guid</strong>: @ViewBag.JwtSignGuid</li>
        <li><strong>Email Service Api Key</strong>: @ViewBag.EmailServiceApiKey</li>
        <li><strong>Message</strong>: @ViewBag.Message</li>
    </ul>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>