@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<ul style="text-align: left">
    <li><strong>Connection string</strong>: @ViewBag.ConnectionString</li>
    <li><strong>Blob connection string</strong>: @ViewBag.BlobConnectionString</li>
    <li><strong>Jwt Sign Guid</strong>: @ViewBag.JwtSignGuid</li>
    <li><strong>Email Service Api Key</strong>: @ViewBag.EmailServiceApiKey</li>
    <li><strong>Message</strong>: @ViewBag.Message</li>
</ul>

<p>Use this page to detail your site's privacy policy.</p>